body
{
    background-color:black;
    margin: 0;
    padding: 0;
}

#container
{
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#logo
{
    width: 1000px;
    height: 150px;
    font-size: 90px;
    letter-spacing: 4px;
    margin-right: auto;
    margin-left: auto;
    padding-top:30px;
    color:white;
    background-color: indigo;
}

#menu
{
    width: 1000px;
    height: 125px;
    margin-right: auto;
    margin-left: auto;
    background-color: purple;
}

ul li
{
    list-style: none;
    display: block;
    float: left;
    text-align: center;
    width: 200px;
    border-right: solid 2px gray;    
    border-left: solid 2px gray;
    margin: 20px;
    padding: 30px;
    font-size: 28px;
   
}

a
{
    text-decoration: none;
    color: white;
}

#kontent
{
    float: left;
    width: 600px;
    height: 400px;
    margin: 30px;
    color: white;
    background-color: rgb(160, 4, 160);
}

#skill
{
    float: left;
    width: 600px;
    height: 400px;
    margin: 30px;
    color: white;
    background-color: rgb(160, 4, 160);
}

ol li
{
    list-style: none;
}

